In [1]:
import pandas as pd

In [3]:
data = { "Gender": ["M", "F", "M", "F", "F"]}

In [4]:
data

{'Gender': ['M', 'F', 'M', 'F', 'F']}

In [11]:
genders_series = pd.Series(data) # Converting it to Pandas Series Data Structure
genders

Gender    [M, F, M, F, F]
dtype: object

In [14]:
genders_dataframe = genders.to_frame() # Convert the series from step above to pandas DataFrame 
genders_dataframe

                      0
Gender  [M, F, M, F, F]

In [16]:
gender_dataframe_from_dict = pd.DataFrame.from_dict(data) # Convert a given dictionary to pandas DataFrame Directly
gender_dataframe_from_dict

  Gender
0      M
1      F
2      M
3      F
4      F

In [19]:
pd.value_counts(data['Gender']) # Find the total count of gender = 'M' and gender = 'F'

F    3
M    2
dtype: int64