In [47]:
import pandas as pd
import numpy as np
import statistics as stat
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

In [2]:
insurance_data = pd.read_csv("D:/Python Materials/insurance.csv")

In [3]:
insurance_data.head()

    age  gender     bmi  children smoker     region      Premium
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520

In [4]:
insurance_data.shape

(1338, 7)

In [5]:
insurance_data.isnull().sum() # This is a number of null values by column names

age         12
gender       0
bmi         10
children     0
smoker       0
region       2
Premium      5
dtype: int64

In [6]:
insurance_data[insurance_data.isnull().any(axis=1)] # This are the rows with one of more null values

      age  gender     bmi  children        smoker     region      Premium
7    37.0  female     NaN         3  occasionally  northwest   7281.50560
8    37.0    male     NaN         2  occasionally  northeast   6406.41070
9    60.0  female     NaN         0  occasionally  northwest  28923.13692
13    NaN  female  39.820         0  occasionally  southeast  11090.71780
14    NaN    male  42.130         0  occasionally  southeast  39611.75770
15    NaN    male  24.600         1  occasionally  southwest   1837.23700
16    NaN  female  30.780         1  occasionally  northeast  10797.33620
17    NaN    male  23.845         0  occasionally  northeast   2395.17155
18    NaN    male  40.300         0  occasionally  southwest  10602.38500
34   28.0    male     NaN         1  occasionally  southwest  51194.55914
35   19.0    male     NaN         0  occasionally  northwest   1625.43375
36   62.0  female     NaN         3  occasionally  northwest  15612.19335
47    NaN  female  34.770         0  occasionally  northwest   3556.92230
48    NaN  female  24.530         0  occasionally  southeast  12629.89670
49    NaN    male  35.200         1  occasionally  southeast  38709.17600
61   25.0    male     NaN         4  occasionally  southeast   4504.66240
62   64.0    male     NaN         1  occasionally  northwest  30166.61817
69    NaN    male  23.980         3  occasionally  southeast  17663.14420
70    NaN  female  24.750         0  occasionally  southeast  16577.77950
71    NaN    male  28.500         5  occasionally  northeast   6799.45800
80   31.0    male  26.885         1  occasionally  northeast          NaN
81   45.0  female  38.285         0  occasionally  northeast          NaN
82   22.0    male  37.620         1  occasionally  southeast          NaN
89   55.0  female  26.980         0  occasionally        NaN  11082.57720
90   21.0  female  39.490         0  occasionally        NaN   2026.97410
91   53.0  female     NaN         1  occasionally  northwest  10942.13205
92   59.0    male     NaN         3  occasionally  northeast  30184.93670
112  37.0    male  30.800         0  occasionally  southwest          NaN
113  21.0  female  35.720         0  occasionally  northwest          NaN

In [7]:
mean_age = np.mean(insurance_data['age'])
mean_bmi = np.mean(insurance_data['bmi'])
mode_gender = stat.mode(insurance_data['gender'])
mean_premium = np.mean(insurance_data['Premium'])

mean_age, mean_bmi, mode_gender, mean_premium

(39.22775263951735, 30.678795180722876, 'male', 13277.743308221308)

In [8]:
insurance_data = insurance_data.fillna(value={'age': mean_age,
                       'bmi': mean_bmi,
                       'gender': mode_gender,
                        'Premium': mean_premium}) # Filling the missing values with mean and mode

In [9]:
insurance_data

       age  gender     bmi  children smoker     region      Premium
0     19.0  female  27.900         0    yes  southwest  16884.92400
1     18.0    male  33.770         1     no  southeast   1725.55230
2     28.0    male  33.000         3     no  southeast   4449.46200
3     33.0    male  22.705         0     no  northwest  21984.47061
4     32.0    male  28.880         0     no  northwest   3866.85520
...    ...     ...     ...       ...    ...        ...          ...
1333  50.0    male  30.970         3     no  northwest  10600.54830
1334  18.0  female  31.920         0     no  northeast   2205.98080
1335  18.0  female  36.850         0     no  southeast   1629.83350
1336  21.0  female  25.800         0     no  southwest   2007.94500
1337  61.0  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
insurance_data['Premium'].dtype

dtype('float64')

In [11]:
def check_outlier(insurance_data_param):
    outliers = {}
    col_list = insurance_data_param.columns.tolist()
    for col_name in col_list:
        if insurance_data_param[col_name].dtype != 'O': # Rejecting Object datatype
            Q1 = np.percentile(insurance_data_param[col_name],25)
            Q3 = np.percentile(insurance_data_param[col_name],75)
            IQR = Q3 - Q1
            lower_bound = Q1 - (1.5 * IQR)
            upper_bound = Q3 + (1.5 * IQR)
            outliers[col_name] = [lower_bound, upper_bound]
    return outliers

In [12]:
# This will set the lower and upper bound of columns, 
# Data points going beyond this bounds are outliers and we can replace that value with loower and upper bound 
check_outlier(insurance_data)

{'age': [-9.0, 87.0],
 'bmi': [13.803125000000003, 47.168124999999996],
 'children': [-3.0, 5.0],
 'Premium': [-12997.197986250001, 34333.227843750006]}

In [13]:
insurance_data.corr() # This will show the correlation between all numeric columns - pearson corelation

               age       bmi  children   Premium
age       1.000000  0.108295  0.045115  0.301975
bmi       0.108295  1.000000  0.010533  0.196604
children  0.045115  0.010533  1.000000  0.066826
Premium   0.301975  0.196604  0.066826  1.000000

In [23]:
insurance_data['children'].dtype

dtype('int64')

In [26]:
insurance_data['children'] = insurance_data['children'].astype('O') # COnverting children column to Object datatype

In [27]:
insurance_data['children'].dtype

dtype('O')

In [49]:
insurance_data = pd.get_dummies(insurance_data)

In [50]:
feature = insurance_data.drop(['Premium'],axis=1)
target = insurance_data['Premium']

In [51]:
feature_train, feature_test, target_train, target_test = train_test_split(feature,target,test_size=0.3,random_state=42)

In [52]:
feature_train, feature_test, target_train, target_test

(       age     bmi  gender_female  gender_male  children_0  children_1  \
 332   61.0  31.160              1            0           1           0
 355   46.0  27.600              0            1           1           0
 138   54.0  31.900              1            0           0           0
 381   55.0  30.685              0            1           1           0
 292   25.0  45.540              0            1           0           0
 ...    ...     ...            ...          ...         ...         ...
 1095  18.0  31.350              1            0           0           0
 1130  39.0  23.870              1            0           0           0
 1294  58.0  25.175              0            1           1           0
 860   37.0  47.600              1            0           0           0
 1126  55.0  29.900              0            1           1           0

       children_2  children_3  children_4  children_5  smoker_no  \
 332            0           0           0           0          0
 355            0           0           0           0          0
 138            0           1           0           0          0
 381            0           0           0           0          0
 292            1           0           0           0          0
 ...          ...         ...         ...         ...        ...
 1095           0           0           1           0          1
 1130           0           0           0           1          1
 1294           0           0           0           0          1
 860            1           0           0           0          0
 1126           0           0           0           0          1

       smoker_occasionally  smoker_yes  region_northeast  region_northwest  \
 332                     1           0                 0                 1
 355                     1           0                 0                 0
 138                     1           0                 0                 0
 381                     1           0                 1                 0
 292                     1           0                 0                 0
 ...                   ...         ...               ...               ...
 1095                    0           0                 1                 0
 1130                    0           0                 0                 0
 1294                    0           0                 1                 0
 860                     0           1                 0                 0
 1126                    0           0                 0                 0

       region_southeast  region_southwest
 332                  0                 0
 355                  0                 1
 138                  1                 0
 381                  0                 0
 292                  1                 0
 ...                ...               ...
 1095                 0                 0
 1130                 1                 0
 1294                 0                 0
 860                  0                 1
 1126                 0                 1

 [936 rows x 17 columns],
        age     bmi  gender_female  gender_male  children_0  children_1  \
 764   45.0  25.175              1            0           0           0
 887   36.0  30.020              1            0           1           0
 890   64.0  26.885              1            0           1           0
 1293  46.0  25.745              0            1           0           0
 259   19.0  31.920              0            1           1           0
 ...    ...     ...            ...          ...         ...         ...
 701   50.0  44.745              1            0           1           0
 672   36.0  29.700              0            1           1           0
 1163  18.0  28.215              1            0           1           0
 1103  58.0  36.080              0            1           1           0
 1295  20.0  22.000              0            1           0           1

       children_2  children_3  children_4  children_5  smoker_no  \
 764            1           0           0           0          1
 887            0           0           0           0          1
 890            0           0           0           0          0
 1293           0           1           0           0          1
 259            0           0           0           0          0
 ...          ...         ...         ...         ...        ...
 701            0           0           0           0          1
 672            0           0           0           0          1
 1163           0           0           0           0          1
 1103           0           0           0           0          1
 1295           0           0           0           0          1

       smoker_occasionally  smoker_yes  region_northeast  region_northwest  \
 764                     0           0                 1                 0
 887                     0           0                 0                 1
 890                     0           1                 0                 1
 1293                    0           0                 0                 1
 259                     1           0                 0                 1
 ...                   ...         ...               ...               ...
 701                     0           0                 1                 0
 672                     0           0                 0                 0
 1163                    0           0                 1                 0
 1103                    0           0                 0                 0
 1295                    0           0                 0                 0

       region_southeast  region_southwest
 764                  0                 0
 887                  0                 0
 890                  0                 0
 1293                 0                 0
 259                  0                 0
 ...                ...               ...
 701                  0                 0
 672                  1                 0
 1163                 0                 0
 1103                 1                 0
 1295                 0                 1

 [402 rows x 17 columns],
 332     13429.03540
 355     24603.04837
 138     27322.73386
 381     42303.69215
 292     42112.23560
            ...
 1095     4561.18850
 1130     8582.30230
 1294    11931.12525
 860     46113.51100
 1126    10214.63600
 Name: Premium, Length: 936, dtype: float64,
 764      9095.06825
 887      5272.17580
 890     29330.98315
 1293     9301.89355
 259     33750.29180
            ...
 701      9541.69555
 672      4399.73100
 1163     2200.83085
 1103    11363.28320
 1295     1964.78000
 Name: Premium, Length: 402, dtype: float64)

In [57]:
lm_model = sm.OLS(target_train, feature_train).fit()

In [58]:
lm_model

In [60]:
prediction = lm_model.predict(feature_test)

In [62]:
prediction.head()

764     10155.071210
887      6148.540544
890     36061.564863
1293     8642.194651
259      7963.972894
dtype: float64

In [63]:
residual = prediction - target_test

In [65]:
residual.head()

764      1060.002960
887       876.364744
890      6730.581713
1293     -659.698899
259    -25786.318906
dtype: float64

In [66]:
from sklearn.metrics import mean_squared_error

In [67]:
mse = mean_squared_error(prediction, target_test)

In [68]:
mse

68947487.90457097

In [69]:
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
sns